/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
.DS_Store
.vite_opt_cache
dist
node_modules
TODOs.md
.vscode
docs/.vitepress/dist/
.idea/
.vitepress/cache/
yarn.lock
pnpm-lock.yaml
vlt-lock.json
/env.js
